html{
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: beige;
    font-family: 'Nanum Gothic Coding', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    align-items: center;
}
header h1{
    font-size: 4rem;
    margin-left: 10%;
}
header nav{
    width: 100%;
}
header nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: end;
    margin-right: 10%;
}

header nav ul li{
    margin: auto 2rem;
    font-size: 1.5rem;
}
