html{
    padding: 0;
    font-size: 16px;
    background-color: beige;
    font-family: 'Nanum Gothic Coding', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    align-items: center;
}
header h1{
    font-size: 4rem;
    margin-left: 5%;
}
header nav{
    width: 100%;
}
header nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: end;
    margin-right: 5%;
}

header nav ul li{
    margin: auto 2rem;
    font-size: 1.5rem;
}
#aboutMe{
    border: 3px midnightblue solid;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.651);
    width: 50%;
    margin: 0 auto 3rem auto;
    display: flex;
}
.ProfilePicture{
    width: 275px;
    height: auto;
    margin: 1.5rem;
    border: 1px black solid;
    border-radius: 5px;
}

.aboutMe{
    display: flex;
    align-items: center;
    margin:1.5rem;
    flex-direction: column;
    color: rgb(221, 221, 221);
}
.aboutMe h2{
    font-size: 2rem;
}

.aboutMe p{
    font-size: 1.25rem;
    line-height: 1.65rem;
}
.title{
    margin: 2rem 0 2rem 3rem;
    width: 100%;
    font-size: 2rem;
}
#projects{
    margin: auto;
    margin-left: 0.5rem;
}
#projects .card{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 325px;
    height: 375px;
    border: 0.2rem black solid;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem auto;
    background-color: rgba(221, 221, 221, 0.651);
    transition: 0.5s;
}
#projects .card img{
    position: absolute;
    display: flex;
    width: 300px;
    height: 300px;
    border-radius: 100%;
}
.description{
    position: absolute;
    margin: 4.65rem auto 0 0.5rem;
    color: white;
    display: none;
}
.description a{
    color: white;
    text-decoration: underline;
}
#projects .tag{
    color: white;
    z-index: 9999;
    background-color: midnightblue;
    padding: 0.75rem;
    border-radius: 1.5rem;
    border: 0.10rem whitesmoke solid;
}

#projects .card .nameproject{
    display: flex;
    margin: 252px auto 0px auto;
    font-weight: 700;
    font-size: 1.25rem;
}

#projects .catalog{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#projects .card .plus{
    position: relative;
}
#projects .card .title2{
    margin: auto;
    font-weight: 700;
    font-size: 1.25rem;
}

